:root {
    --border-size: 0.5em;

}


body {

    background-color: #fff700;
    font-family: 'Bebas Neue', cursive;

}

main {
    max-width: 70rem;
    margin: 5rem auto;
}

.grid {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 3em;
    flex: 15;
}

.logo {
    flex: 1;
    justify-content: center;

}

.logo img {
    height: 3em;

}

.pageText {
    font-size: 2em;
    line-height: 3em;


}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 0.5em;
    margin-top: 2em;
}


.gallery img {
    width: calc(100% - (var(--border-size) * 2));
    height: auto;
    aspect-ratio: 4/3;
    object-fit: cover;
    object-position: center;
    border: var(--border-size) groove #00eeff;
}

.nav-button {
    display: flex;
    gap: 4em;
}

.previous {
    flex: 1;
    margin-right: 2em;
    box-shadow: 25px 10px 0px #21a0ab;
    background: linear-gradient(135deg, transparent 5%, #FF013C 5%);
}

.next {
    flex: 1;
    margin-left: 2em;
    box-shadow: -25px 10px 0px #21a0ab;
    background: linear-gradient(315deg, transparent 5%, #FF013C 5%);
}


.flickrButton img {
    height: 2em;
    position: absolute;
    top: 0.4em;
}

.flickrButton,
.flickrButton::after {
    cursor: pointer;

    height: 3em;
    font-size: 2em;
    font-family: 'Bebas Neue', cursive;
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    line-height: 3em;
    outline: transparent;
    position: relative;
}

.flickrButton::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);


    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
    text-shadow: -5px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
}

.next::after {
    content: 'NEXT';
}

.previous::after {
    content: 'PREV';
}

.flickrButton:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
    animation-iteration-count: infinite;
}

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }

    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }

    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }

    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }

    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }

    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }

    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }

    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }

    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }

    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }

    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}

button:disabled {
    cursor: not-allowed;
    background: #ccc
}

.hide {
    display: none !important
}

.loading {
    z-index: 10;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.651);
    display: flex;
    justify-content: center;
}

#loading img {
    display: block;
    height: 3em;
    margin-top: 5em;


}





@media only screen and (max-width: 850px) {


    .nav-button {
        display: flex;
        flex-direction: row;
        gap: 0;
    }

    .next {
        margin-left: 0;
        flex: 1;
        align-items: flex-end;
    }

    .previous {
        margin-right: 0;
        flex: 1;
        align-items: flex-start;
    }

    .flickrButton {
        line-height: 2em;
        font-size: 1.3em;
        width: 100%;
        letter-spacing: 1px;
        position: static;
    }

    .pageText {
        line-height: inherit;
        margin: 0.5em;
    }

    .flickrButton:hover::after {
        animation: none
    }

    main {
        margin: 0;
        width: 100%;
    }

    h1 {
        font-size: 2em;
        flex: 5;
    }

    .previous {
        flex: 1;
        box-shadow: 5px 3px 0px #21a0ab;
        background: linear-gradient(135deg, transparent 5%, #FF013C 5%);
    }

    .next {
        flex: 1;
        box-shadow: -5px 3px 0px #21a0ab;
        background: linear-gradient(315deg, transparent 5%, #FF013C 5%);
    }



}